@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

.item {
  display: flex;
  align-items: center;
}

.formulario {
  width: 300px;
  border: none;
  outline: none;
  background: none;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid black;
  width: 80%;
}

.texto {
  font-size: 39px;
}
