h1 {
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 86px;
  margin: 0;
  background-color: #faf8f6;
  padding-left: 40px;
  padding-top: 15px
}
