body {
  height: 100vh;
  background-color: #c6e2e9;
  margin: 0;
  margin-top: 0;
}

/*

Para a lista:
font-family: Chivo;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

Para o Título
font-family: Chivo;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 86px;

*/
